body {
	background-image: url("../img/fom.jpg");
	background-size: cover;
}

h3 {
	color: white;
	font-family: cursive;
	font-size: 2rem;
	text-align: center;
	position: relative;
	top: 100px;
}


#mc_embed_signup .button {
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 50px;
	background-color: #FF6C63;
	color: #ffffff;
	position: relative;
	top: 100px;
	left: 45%;
	transition: all 1s ease;
	outline: none;
}

#mc_embed_signup .button:hover {
	transform: scaleX(1.2);
}

#mc_embed_signup{
	font:14px Helvetica,Arial,sans-serif;
}